{
  "sources": [
    {
      "name": "UserControlled",
      "comment": "Used to annotate user-controlled input"
    }
  ],

  "sinks": [
    {
      "name": "FileSystem_ReadWrite",
      "comment": "Used to annotate file operations that could be vulnerable to path traversal"
    }
  ],

  "features": [],

  "rules": [
    {
      "name": "UserControlled to FileSystem_ReadWrite",
      "code": 5002,
      "sources": ["UserControlled"],
      "sinks": ["FileSystem_ReadWrite"],
      "message_format": "UserControlled data flows to a file system read/write API"
    }
  ],

  "maximum_overrides_to_analyze": 30
}
