{
  "sources": [
    {
      "name": "UserControlled",
      "comment": "use to annotate user input"
    }
  ],

  "sinks": [
    {
      "name": "FileSystem_ReadWrite",
      "comment": "use to annotate execution of python code"
    }
  ],

  "features": [],

  "rules": [
    {
      "name": "Path Traversal",
      "code": 9999,
      "sources": [ "UserControlled" ],
      "sinks": [ "FileSystem_ReadWrite" ],
      "message_format": "User specified data may reach a code execution sink"
    }
  ],

  "maximum_overrides_to_analyze": 30
}
