{
  "sources": [
    {
      "name": "CustomUserControlled",
      "comment": "use to annotate user input"
    }
  ],
  "sinks": [
    {
      "name": "CodeExecution",
      "comment": "use to annotate execution of python code"
    },
    {
      "name": "PathTraversal",
      "comment": "use to annotate file path manipulation"
    }
  ],
  "features": [],
  "rules": [
    {
      "name": "Possible RCE:",
      "code": 5001,
      "sources": [
        "CustomUserControlled"
      ],
      "sinks": [
        "CodeExecution"
      ],
      "message_format": "User specified data may reach a code execution sink"
    },
    {
      "name": "Possible Path Traversal:",
      "code": 5002,
      "sources": [
        "CustomUserControlled"
      ],
      "sinks": [
        "PathTraversal"
      ],
      "message_format": "User specified data may reach a path traversal sink"
    }
  ],
  "maximum_overrides_to_analyze": 30
}
